*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    border: 1px solid white;
    width: 70%;
    color: white;
    
}
.btm li {
    border-right: 1px solid green;

    
}


.btm{
    perspective: 200;
}

.btm li:first-child{
    background-color: red;
    
}
.btm li:first-child a{
    color: white;
}

.btm li a{
color: grey;
text-decoration: none;
}
nav{
    background-color: black;
}

.btm ul li:hover{
    transform: translateZ(100px);
}
body{
    min-height: 100vh;
    height: 100vh;

}

main{
    height: 100%;
}

.carousel{
    height: 80%;
    background-image: url('../assets/images/table.jpg');
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 59% 85%, 46% 99%, 35% 84%, 0 83%); */
    padding-bottom: 4vw;
    background-size: cover;
}
.carousel-item img{
    height: 90%;
    clip-path: circle();
}
.first{
    width: 30%;
}
.menu{
    background-color: black;
    background-blend-mode: multiply;
    
}

input[type=checkbox]{
    width: 30px;
}