*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}

hr{
    border: 1px solid white;
    width: 70%;
    color: white;
    
}
.btm li {
    border-right: 1px solid green;

    
}


.btm{
    perspective: 200;
}

.btm li:first-child{
    background-color: red;
    
}
.btm li:first-child a{
    color: white;
}

.btm li a{
color: grey;
text-decoration: none;
}
nav{
    background-color: black;
}

.btm ul li:hover{
    transform: translateZ(100px);
}
body{
    min-height: 100vh;
    height: 100vh;

}

main{
    height: 100%;
}

.carousel{
    height: 80%;
    background-image: url('../assets/images/table.jpg');
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 59% 85%, 46% 99%, 35% 84%, 0 83%); */
    
    background-size: cover;
    
}
.carousel-item img{
    height: 90%;
    clip-path: circle();
}
.first{
    width: 30%;
}
.menu{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    
}

input[type=checkbox]{
    width: 30px;
}
#map{
    height: 30vw;
    width: 50%;
}

.contact-info form input{
    border-bottom: 1px solid white;
}

.contact-info input:focus{
    outline: none;
}
.card-group{
    
    margin: 0 auto;
   
}
.card img{
    height: 25vw;
    width: 70%;
    margin: 0 auto;
}
.card{
    height: 100%;
}

.card img.laga{
    width: 100%;
}

.opts select{
    border-radius: 20%;
    padding: 2%;
    background-color: transparent;
    border: 1px solid orange;
}
.strait{
    box-sizing: border-box;
}




/* media queries */
@media only screen and (max-width: 1290px){

    nav div.top{
        background-color: orange;
        display: flex;
        flex-direction: column;
    }

    .card-group{
        flex-direction: column;
    }

    .rep{
        flex-direction: column;
    }
    .price{
        width: 100%;
    }

    .lapa{
        flex-direction: column;
        align-items:center;
    }

    #map{
        width: 90%;
        margin: 0 auto;
        height: 100vw;
    }
    .contact-info form input{
        width: 100%;
    }
    .contact-info form{
        text-align: center;
    }

    .contact-info form button{

        
        
    }
    .butp{
        flex-wrap: wrap;
        
    }
    .card img{
        height: 45vw;
    }


}