

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Redressed&family=Shizuru&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.carousel-item{
    font-family: 'Dancing Script', curs
}

hr{
    border: 1px solid white;
    width: 70%;
    color: white;
    
}
.btm li {
    border-right: 1px solid green;

    
}


.btm{
    perspective: 200;
}

.btm li:first-child{
    background-color: red;
    
}
.btm li:first-child a{
    color: white;
}

.btm li a{
color: grey;
text-decoration: none;
}
nav{
    background-color: black;
}

.btm ul li:hover{
    transform: translateZ(100px);
}
body{
    min-height: 100vh;
    height: 100vh;

}

main{
    height: 100%;
}

.carousel{
    height: 80%;
    background-image: url('../assets/images/table.jpg');
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 59% 85%, 46% 99%, 35% 84%, 0 83%); */
    
    background-size: cover;
    
}
.carousel-item img{
    height: 90%;
    clip-path: circle();
}
.first{
    width: 30%;
}
.menu{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    
}

input[type=checkbox]{
    width: 30px;
}
#map{
    height: 30vw;
    width: 50%;
}

.contact-info form input{
    border-bottom: 1px solid white;
}

.contact-info input:focus{
    outline: none;
}
.card-group{
    
    margin: 0 auto;
   
}
.card img{
    height: 20vw;
    width: 70%;
    margin: 0 auto;
}
.card{
    height: 100%;
}

.card img.laga{
    width: 100%;
}

.opts select{
    border-radius: 20%;
    padding: 2%;
    background-color: transparent;
    border: 1px solid orange;
}
.strait{
    box-sizing: border-box;
}
.btm li:hover{
    background-color: orange;
    border-right: 3px solid ;
}

.sc button:hover{
    transform: scale(1.2);
}

.fly{
    height: 3vw;
    width: 3vw;
    display: block;
    text-align: center;
    
    margin-top: -5vw;
    animation: flyinto 2s ease-in 1 forwards ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}


@keyframes flyinto{

    0%{
        transform: translateX(1vw);
    }
    50%{
        transform: translateX(20vw);

        
    }
    75%{
        transform: translateY(20vw);
        
    }
    100%{
        height: 0;
        width: 0;
    }


}



/* media queries */
@media only screen and (max-width: 1290px){

    nav div.top{
        background-color: orange;
        display: flex;
        flex-direction: column;
    }

    .card-group{
        flex-direction: column;
    }

    .rep{
        flex-direction: column;
    }
    .price{
        width: 100%;
    }

    .lapa{
        flex-direction: column;
        align-items:center;
    }

    #map{
        width: 90%;
        margin: 0 auto;
        height: 100vw;
    }
    .contact-info form input{
        width: 100%;
    }
    .contact-info form{
        text-align: center;
    }

    .contact-info form button{

        
        
    }
    .butp{
        flex-wrap: wrap;
        
    }
    .card img{
        height: 45vw;
    }


}

@media only screen and (max-width: 730px){
    table td{
        width: 1vw;
        padding: 2vw;
        font-size: 16px;
        word-wrap: break-word;
    }

    table tr td:nth-child(2),
    table tr td:nth-child(3),
    table tr td:nth-child(4){
        display: none;


    }

    table tfoot tr td:nth-child(2){

        display: initial;
    }

}